@import url("./grid.css");

img {
    height: 200px;
}

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 960px;
    background-color: #E0FFFF;
}

.col-6 {
    position: relative;
}

.col-6 .position {
    position: absolute;
    top: 145px;
    left: 10px;
    background-color: #4169E1;
    padding: 5px;

}

.slider {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider li {
    display: none;
}

.slider li.active {
    display: block;
}

.nav {
    margin: 0;
    padding: 0;
    max-width: 160px;
    list-style-type: none;
    background-color: #F0FFFF;
}

.nav li {
    display: block;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
}





.slide {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slide img {
    float: left;
    display: inline-block;
    height: 80px;
    padding: 10px;
}